<div class="header" role="header">
  <h1 routerLink="/">Quotes Assignment App</h1>
  <div class="top-nav">
    <toggle-switch stateName="{{theme$|async}}" (my-event)="changeTheme()"></toggle-switch>
    <app-custom-button type="link" text="+ Add Quote" *ngIf="this.authService.isUserLoggednIn" routerLink="/add-quote"></app-custom-button>
    <app-custom-button type="link" text="Register"  routerLink="/register" *ngIf="!this.authService.isUserLoggednIn"></app-custom-button>
    <app-custom-button type="link" text="Login" routerLink="/login" *ngIf="!this.authService.isUserLoggednIn"></app-custom-button>
    <app-custom-button type="link" text="Logout" (click)="logout()" *ngIf="this.authService.isUserLoggednIn"></app-custom-button>
  </div>
</div>
