<div class="card-container">
  <div class="card" *ngFor="let quote of quotesList;trackBy:trackByFn">
    <div class="quote-section">
      <div class="main-quote">"{{quote.quote}}"</div>
      <div class="author-name">-{{quote.authorName}}</div>
    </div>
    <div class="quote-action-section">
      <button class="small-btn primary-btn" [routerLink]="['/edit-quote']" [state] ="quote" *ngIf="this.authService.isUserLoggednIn">Edit</button>
      <button class="small-btn danger-btn " (click)="deleteQuote(quote?.id)" *ngIf="this.authService.isUserLoggednIn">Delete</button>
    </div>
   </div>
</div>
