* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

$PRIMARY-COLOR:chartreuse;

.light-theme{
  $text-color:black;
  $background-color:lightgray;
  $border-color:#eee;
  
 .header {
   background-color: $background-color;
   color: $text-color;
 }
  
 .card {
  border: 1px solid $border-color;
  background-color: $background-color;
  color:$text-color;
}
button{
  color: $text-color;
}
  
}

.dark-theme{
 $text-color:white;
 $background-color:black;
 $border-color:#eee;
.header {
  background-color: $background-color;
  color: $text-color;
}

.card {
  border: 1px solid $border-color;
  background-color: $background-color;
  color:$text-color;
}

button{
  color: $text-color;
}
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding:12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}


.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 80%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  width: 100%;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  // height: 40px;
  width: 100%;
  margin: 0 8px 16px;
  padding: 32px;
  display: flex;
  justify-content: space-between;;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.text-center{
  text-align: center;
}

input[type="text"],textarea,input[type="password"]{
  display: block;
  border:none;
  outline: none;
  width: 100%;
  padding:2px 0 ;
  font-size: 1rem;
  border-bottom:2px solid lightgray;
  margin:12px 8px;
  &:focus{
    border:none;
    border-bottom:2px solid $PRIMARY-COLOR;
  }
}

button{
  cursor: pointer;
  padding:8px 16px;
  border:none;
  outline: none;
  border-radius: 5px;
  background-color: $PRIMARY-COLOR;

}


.small-btn{
  cursor: pointer;
  color: black;
  padding: 4px 8px;
  border-radius: 5px;
  margin-right: 4px;
}


.primary-btn{
  background-color: $PRIMARY-COLOR;
}

.danger-btn{
  background-color: red;
}


.toggle-switch {
  height: 26px;
  width: 52px;
  border-radius: 15px;
  display: inline-block;
  position: relative;
  input {
    display: none;
    &:checked + .slider {
      background-color: $PRIMARY-COLOR;
    }
    &:checked + .slider::after {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
  .slider {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    border-radius: 15px;
    transition: 0.5s;
    &::after {
      position: absolute;
      content: '';
      height: 18px;
      width: 18px;
      border-radius: 15px;
      background-color: white;
      left: 4px;
      bottom: 4px;
      transition: 0.5s;
    }
  }
}

.mb-10{
  margin-bottom: 10%;
}
